<header class="bg-white border-b border-slate-100 py-6 px-12 flex justify-between items-center sticky top-0 z-50 shadow-sm">

  <div routerLink="/" class="cursor-pointer flex items-center gap-3">
    <div class="w-10 h-10 bg-slate-900 rounded-xl flex items-center justify-center text-white">
      <mat-icon>sports_tennis</mat-icon>
    </div>
    <span class="font-black text-2xl tracking-tighter uppercase text-slate-900">
      Padel<span class="text-slate-400">Club</span>
    </span>
  </div>

  <nav class="hidden md:flex gap-8 items-center font-bold uppercase text-[11px] tracking-widest text-slate-500">
    <a routerLink="/" class="hover:text-slate-900 transition-colors">Centres</a>
    <a href="#" class="hover:text-slate-900 transition-colors">Mes Réservations</a>
    <div class="w-10 h-10 rounded-full bg-slate-200 border-2 border-white shadow-sm flex items-center justify-center overflow-hidden">
      <mat-icon class="text-slate-500 scale-125">account_circle</mat-icon>
    </div>
  </nav>

</header>
