<header class="main-header">

  <a routerLink="/" class="header-logo">
    <div class="logo-icon-box">
      <span class="material-symbols-outlined">padel</span>
    </div>
    <span class="font-black text-2xl tracking-tighter uppercase text-slate-900">
      Angular<span class="text-slate-400"> Padel Club</span>
    </span>
  </a>

  <nav class="nav-link-container">
    <a routerLink="/"
       routerLinkActive="text-slate-900"
       [routerLinkActiveOptions]="{exact: true}"
       class="nav-link">
      Centres
    </a>

    <a routerLink="/mes-reservations" class="nav-link">
      Mes Réservations
    </a>

    <div class="user-avatar-circle">
      <mat-icon class="text-slate-500 scale-125">account_circle</mat-icon>
    </div>
  </nav>

</header>
