<div class="bg-white rounded-[2rem] p-8 shadow-sm border border-slate-100 mb-10">
  <h2 class="font-black uppercase tracking-widest text-sm mb-6 text-slate-900">
    1. Choisir la date pour le terrain {{ courtName() }}
  </h2>

  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Sélectionnez une date</mat-label>
    <input matInput
           readonly
           [matDatepicker]="picker"
           [min]="minDate"
           [max]="maxDate"
           [ngModel]="initialDate()"
           (dateChange)="onDateChange($event.value)">

    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint>Date sélectionnée par défaut : Aujourd'hui</mat-hint>
  </mat-form-field>
</div>
